* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    touch-action: none;
    background-color: #242629;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.music-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;         
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 1000;
}

.music-item {
    position: absolute;
    width: 100%;         
    height: 100%;       
    padding: 10px;
    background-color: #16161a;
    border-radius: 12px;
    border: 1px solid #454343;
    cursor: grab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.music-thumbnail {
    width: 100%;
    height: 80%;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.music-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    pointer-events: none;
}

.music-info {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    gap:2px;
    align-items: flex-start;
    color: #fffffe;
}

.music-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.music-artist {
    font-size: 10px;
    color: #94a1b2;
}

.music-control {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2000;
}
.control-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #16161a;
    border: none;
    cursor: pointer;
    color: #fffffe;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn {
    transition: color 0.3s , background 0.2s , transform 0.3s;
}
.control-btn.play {
    position: relative;
    transform: scale(1.2);
}


.control-btn.like {
    color: green;
}
.control-btn.dislike {
    color: red;
} 

.control-btn.back:hover {
    color: #242629;
    background-color: #94a1b2;
}

.control-btn.shuffle:hover {
    color: #242629;
    background-color: #94a1b2;
}
.progress-container {
  position: fixed;
  width: 350px;
  left: 50%;
  bottom: 110px;
  transform: translateX(-50%);
}

.progress-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  outline: none;
  transition: background 0.3s;
  cursor: pointer;
  background: linear-gradient(to right, #161616 0%, #444 25%);
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #16161a; 
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 2px #000;
  margin-top: -4px; 
}
.progress-bar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #16161a;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 2px #000;
}

.progress-bar::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
}


.music-item:nth-last-child(3) {
    transition: transform 0.3s;
    transform: translateY(-10px) scale(1.01);
}

.music-item:nth-last-child(2) {
    transition: transform 0.3s;
    transform: translateY(-25px) scale(1.03);

}

.music-item:nth-last-child(1) {
    transition: transform 0.3s;
    transform: translateY(-40px) scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

